*{
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
}

body{
	margin: 0px;
	min-width: 300px;
	
}

h2{
	margin: 0;
	margin-bottom: 20px;
}

.container{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 15% 50% 20% 15%;
	grid-template-areas:
	"header"
	"main"
	"sidebar"
	"footer";
}

.item-header{
	display: flex;
	justify-content: space-between;
	grid-area: header;
	background: linear-gradient(orange, gold);
	box-shadow: 0px 0px 10px black;
}
.item-header img{
	order: 1;
	height: 135px;
}
.item-header ul{
	display: flex;
	flex-direction: column;
	order: 0;
	margin: 0;
	padding: 0;
	list-style:none;
}
.item-header ul li{
	border: 1px solid black;
	
	white-space: nowrap;
}
.item-header ul li a{
	text-decoration:none;
	margin: auto;
	vertical-align: middle;
	padding: 5px 10px;
	/*line-height: 25px;*/
}
.item-header ul li a:hover{
	color:black;
}

.item-main{
	grid-area: main;
	background-color: lightgrey;
	text-align: justify;
}
.item-main section article{
	background-color: white;
	box-shadow: 0px 0px 5px grey;
}

.item-sidebar{
	grid-area: sidebar;
	background-color: gold;
	border-left: 1px solid black;
}
.item-sidebar ul{
	list-style:none;
	padding: 0;
}
.item-sidebar ul li{
	padding: 5px 10px;
	border: 1px solid grey;
}

.product-card{
	background-color:white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px black;
	padding: 10px;
	margin: 10px;
}
.product-card a{
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px 10px;
	background-color: lightgrey;
	color:black;
	text-decoration: none;
}
.product-card a:hover{
	background-color: white;
}

.item-footer{
	grid-area: footer;
	color: white;
	background-color: black;
	padding: 20px;
}
form{
	text-align:center;
}
form div label{
	text-align: center; 
	width: 100%;
}
form div input, form div textarea {
	
	width: 200px;
	border-radius: 5px;
	border: 1px solid grey;
	
}

.username-available {
	color:green;
}
.username-unavailable {
	color:red;
}

.comment{
	margin: 10px 5px;
	padding: 5px;
	box-shadow: 0px 0px 5px black;
}

.comment img{
	max-width: 500px;
	max-height: 500px;
}

.btn{
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px 10px;
	background-color: lightgrey;
	color:black;
	text-decoration: none;
}


/* tablet */
@media only screen and (min-width: 768px) {
	
	.container{
		grid-template-columns: 1fr 200px;
		grid-template-areas:
		"header header"
		"main sidebar"
		"main sidebar"
		"footer footer";
	}
	.item-header{
		flex-direction: row;
		justify-content: flex-start;
	}
	.item-header img{
		position: static;
		order: 0;
	}
	.item-header ul{
		flex-direction: row;
	}
	
}


/* desktop */
@media only screen and (min-width: 1200px) {

	
}
