
<header class="item-header">
	<img alt="Logo" width="100px" src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/3639361/580/387/m1/fpnw/wm0/global-business-logo-template-.png?1511697736&s=b399b1d36155af1227d7d9e6257dfd9a">
	<ul>
		<li><a href="#" >Home</a></li>
		<li><a href="#" >List Projects</a></li>
		<li><a href="#" >Add Projects</a></li>
		<li><a href="#" >Login</a></li>
		<li><a href="#" >Register</a></li>
	</ul>
</header>