<section class="item-sidebar">
	<h2>Sidebar</h2>
	<ul>
		<li>Sidebar element</li>
		<li>Sidebar element</li>
		<li>Sidebar element</li>
		<li>Sidebar element</li>
		<li>Sidebar element</li>
	</ul>
</section>